.footer-default {
  position: relative;
  color: rgba(#FFF, .6);
  background: #1B2127;
  padding: 80px 0;

  .nav-vertical {
    > li > a {
      transition: all .1s ease;
      @include link-variant(rgba(#FFF, .6), #FFF);
    }
  }

  .nav-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: $text-semibold-weight;
    color: #FFF;
    margin-bottom: 15px;
  }
}

.hr-light {
  border-top-color: rgba(#FFF, .1);
  margin: 2rem 0;
}

.footer-social-links {
  float: right;
}

.footer-locales {
  position: relative;

  .list-item.active {
    color: #32325d;
    font-weight: $text-semibold-weight;
  }
}

.footer-social-link {
  color: rgba(#fff, .4);
  font-size: 26px;

  &:hover {
    color: #fff;
  }

  & + .footer-social-link {
    margin-left: 1.2rem;
  }

  @include hover-focus {
    text-decoration: none;
  }
}
