.search-form {
  border: 1px solid #eee;
  box-shadow: 0 0 3px 0 rgba(#000, .05), 0 1px 1px rgba(#000, .2);
  border-radius: 4px;

  .search-col {
    padding-top: 15px;
    padding-bottom: 5px;
    word-wrap: break-word;
    border-bottom: 1px solid #e6e6e6;

    label {
      margin-bottom: 0;
      font-size: 15px;
      color: $text-muted-dark;
    }

    .select-input {
      margin: 0 -15px;

      select {
        border: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 12px;
        font-size: 20px;
        line-height: 1;
      }
    }

    .search-form-submit {
      width: 100%;
      margin: 5px 0;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &:last-child {
      border-width: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;

    .search-col {
      border-bottom-width: 0;
      border-right: 1px solid #e6e6e6;
    }
  }

}
